.transaction-container {
    width: 100%;
    margin: auto;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    justify-content: center;
}

.transaction-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c00;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.transaction-dropdown {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.transaction-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
}


.transaction-card {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    min-width: 250px;
    box-sizing: border-box;
}

.item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.item-details {
    flex: 1;
    padding: 0 15px;
}

.transaction-status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.status-badge {
    background: #ffdede;
    color: #c00;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.cancel-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .transaction-card {
        flex-direction: row;
        text-align: center;
        height: 180px;
    }

    .transaction-status {
        align-items: end !important;
        width: 50%;
    }

    .item-details {
        text-align: start;
    }
}

@media (max-width: 425px) {
    .transaction-card {
        flex-direction: row;
        text-align: center;
        height: 20px !important;
    }

    .transaction-status {
        align-items: end !important;
        width: 50%;
    }

    .item-details {
        text-align: start;
    }
}